
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
.wrap-tit {
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 500;
    color: #262626;
    text-align: center;
}
@media only screen and (max-width: 768px)
.wrap-login {
    padding: 40px 10px;
}
.wrap-login {
    padding: 90px 0;
    background-color: #f4f4f4;
}
.sub-contents {
    /* padding-top: 134px; */
    min-height: calc(100vh - 335px);
}

a {
    text-decoration: none;
    color: inherit;
}
.loginform input {
    display: block;
}
.loginform {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  	padding: 50px 46px;
    padding-top: 50px;
    padding-right: 46px;
    padding-bottom: 50px;
    padding-left: 46px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    color: white;
    font-size: 14px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.loginform h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.loginform form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
}
.loginform form input[type="password"] {
    margin: 15px 0;
}
.loginform form input::placeholder {
    color: #2b2e4a;
}
.loginform form input[type="submit"] {
    position: relative;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    background: #c70039;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.3s;
}
.loginform form input[type="submit"]:hover {
    background: rgba(0,0,0,0.1);
}

.login-box-link {
    padding: 30px 0 0;
}
.loginform form label {
    display: flex;
    margin-bottom: 15px;
}

.loginform .hidden {
    display: none;
}
.loginform .forgot {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 16px;
}
.loginform .forgot a:hover {
    text-decoration-line: underline;
}
