@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

a {
    border: 0;
    color: #262626;
    text-decoration: none;
}


/* 더보기 기능 관련 */

.js-load {
   	display: none;
}
.js-load.active {
    display: block;
}
.is_comp.js-load:after {
    display: none;
}
.btn-wrap, .lists, .main {
    display: block;
}		
.btn-wrap {
    text-align: center;
}