<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bebeno.mvc.wagle.model.dao.WagleBoardMapper">
	<sql id="WagleListSql">
		SELECT  W.WAGLE_NO,
				W.WRITER_NO,
				M.NICKNAME,
		        W.WINE_NO,
		        W.SHOP_NO,
		        W.WAGLE_TITLE,
		        W.WALGE_CONTENT,
		        W.ORIGINAL_FILENAME, 
		        W.RENAMED_FILENAME, 
		        W.READCOUNT,

		        W.STATUS,
		        W.CREATE_DATE,
		        W.MODIFY_DATE,
				W.CATEGORY
		FROM WAGLE_BOARD W
		JOIN MEMBER M ON (W.WRITER_NO = M.NO)
		WHERE W.STATUS = 'Y' 
	</sql>
	
	<resultMap type="Wagle" id="wagleListResultMap">
		<id property="no" column="WAGLE_NO"/>
		<result property="nicname" column="NICKNAME"/>
		<result property="wine_no" column="WINE_NO"/>
		<result property="shop_no" column="SHOP_NO"/>
		<result property="title" column="WAGLE_TITLE"/>
		<result property="content" column="WALGE_CONTENT"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
		<result property="readcount" column="READCOUNT"/>

		<result property="status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<resultMap type="WagleFile" id="fileListResultMap">
		<id property="file_no" column="W_FILE_NO"/>
		<result property="W_No" column="W_NO"/>
		<result property="file_originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="file_renamedFileName" column="RENAMED_FILENAME"/>	
	</resultMap>
	
	<resultMap type="Reply" id="wagleReplyResultMap">
		<id property="no" column="NO" />
		<result property="wagleNo" column="W_NO"/>
		<result property="writerNo" column="WRITER_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="createDate"  column="CREATE_DATE"/>
		<result property="modifyDate"  column="MODIFY_DATE"/>
	</resultMap>
	
	<!-- Reply -->
	<insert id="insertReply" parameterType="map" useGeneratedKeys="true" keyProperty="no" keyColumn="COMMENT_NO">
		INSERT INTO WAGLE_BOARD_REPLY (
			NO,
			W_NO,
			WRITER_NO,
			CONTENT,
			STATUS,
			CREATE_DATE,
			MODIFY_DATE
		) VALUES (
			SEQ_NO.NEXTVAL,
			#{wagleNo},
			#{writerNo},
			#{content},
			#{status},
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<select id="getWagleList" resultMap="wagleListResultMap">
		<include refid="WagleListSql"/>
		ORDER BY W.WAGLE_NO DESC
	</select>
	
	<select id="selectBoardByNo" parameterType="_int" resultMap="wagleListResultMap">
      <include refid="WagleListSql"/>
      AND W.WAGLE_NO = #{no}
   </select>
	
	
	<select id="selectfilesByNo" parameterType="_int" resultMap="fileListResultMap">
		SELECT  W_FILE_NO, 
				W_NO,					
		        ORIGINAL_FILENAME,
		        RENAMED_FILENAME
		FROM WAGLE_FILE
		WHERE W_NO = #{no}
	</select>
	
	
	<update id="updateWagleBoard" parameterType="Wagle">
       	UPDATE WAGLE_BOARD
       	<trim prefix="SET" suffixOverrides=",">
    	    <if test="title != null">
		 		W.TITLE = #{title},
	 		</if>
	 		<if test="content != null">
		 		W.CONTENT = #{content},
	 		</if>
	 		<if test="originalFileName != null">
		 		ORIGINAL_FILENAME = #{originalFileName},
	 		</if>
	 		<if test="renamedFileName != null">
		 		RENAMED_FILENAME = #{renamedFileName},
	 		</if>
		 	MODIFY_DATE = SYSDATE 
       	</trim>
	 	WHERE 
	 		NO = #{no}
	</update>
	
	<update id="updateStatus" parameterType="map">
		UPDATE WAGLE_BOARD 
		SET STATUS = #{status} 
		WHERE NO = #{no}
	</update>
	
 	<delete id="deleteWagleBoard" parameterType="_int">
 		DELETE 
 		 FROM WAGLE_BOARD
 		WHERE W.NO = #{no}
 	</delete>
 	
 	<insert id="savefile" parameterType="ContentFiles"
			useGeneratedKeys="true" keyProperty="file_no" keyColumn="W_FILE_NO">
		INSERT INTO WAGLE_FILE (
			W_FILE_NO,
			W_NO,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME
		) VALUES (
			SEQ_W_FILE_NO.NEXTVAL,
			#{No},
			#{file_originalFileName},
			#{file_renamedFileName}
		)
	</insert>
	
	
</mapper>