<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bebeno.mvc.shop.model.dao.ShopMapper">
	<sql id="shopListSql">
		SELECT  STORE_NO, 
				STORE_WRITERNO,		
		        STORE_KORNAME,
		        STORE_ENGNAME, 
		        STORE_ZIPCODE,
		        STORE_ADDRESS1, 
		        STORE_ADDRESS2,
		        STORE_PHONE,
		        STORE_TIME,
		        STORE_TYPE, 
		        STORE_STATUS,
		        STORE_CONTENT,
		        STORE_CONTENT2,
		        ORIGINAL_FILENAME,
				RENAMED_FILENAME,
		        ENROLL_DATE,
		        MODIFY_DATE
		FROM BBN_STORE
		WHERE STORE_STATUS = 'Y' 
	</sql>
	
	<resultMap type="Shop" id="shopListResultMap">
		<id property="no" column="STORE_NO"/>
		<result property="writerNo" column="STORE_WRITERNO"/>
		<result property="korBname" column="STORE_KORNAME"/>
		<result property="engBname" column="STORE_ENGNAME"/>
		<result property="zipCode" column="STORE_ZIPCODE"/>
		<result property="address1" column="STORE_ADDRESS1"/>
		<result property="address2" column="STORE_ADDRESS2"/>
		<result property="phone" column="STORE_PHONE"/>
		<result property="bnsHour" column="STORE_TIME"/>
		<result property="type" column="STORE_TYPE"/>
		<result property="status" column="STORE_STATUS"/>
		<result property="content" column="STORE_CONTENT"/>
		<result property="content2" column="STORE_CONTENT2"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<resultMap type="ContentFiles" id="fileListResultMap">
		<id property="file_no" column="S_FILE_NO"/>
		<result property="shopNo" column="STORE_NO"/>
		<result property="file_originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="file_renamedFileName" column="RENAMED_FILENAME"/>		
	</resultMap>
	
	<select id="findAll" parameterType="map" resultMap="shopListResultMap">
		<include refid="shopListSql"/>
		<choose>
			<when test="shCate != null">
				AND STORE_TYPE = #{shCate}
			</when>
			<when test="shRegionD1 != null">
				AND STORE_ADDRESS1 LIKE '%' || #{shRegionD1} || '%'
			</when>
			<when test="shKeyword != null">
				AND STORE_KORNAME LIKE '%' || #{shKeyword} || '%'
			</when>
		</choose>
		ORDER BY STORE_NO DESC
	</select>
	
	<select id="selectShopByNo" parameterType="_int" resultMap="shopListResultMap">
		<include refid="shopListSql"/>
		AND STORE_NO = #{no}
	</select>
	
	<select id="selectfilesByNo" parameterType="_int" resultMap="fileListResultMap">
		SELECT  S_FILE_NO, 
				STORE_NO,					
		        ORIGINAL_FILENAME,
		        RENAMED_FILENAME
		FROM STORE_FILE
		WHERE STORE_NO = #{no}
	</select>
	
	<insert id="insertShop" parameterType="Shop"
			useGeneratedKeys="true" keyProperty="no" keyColumn="STORE_NO">
		INSERT INTO BBN_STORE (
			STORE_NO,
			STORE_WRITERNO,
			STORE_KORNAME,
			STORE_ENGNAME,
			STORE_ZIPCODE,
			STORE_ADDRESS1,
			STORE_ADDRESS2,
			STORE_PHONE,
			STORE_TIME,
			STORE_TYPE,
			STORE_STATUS,
			STORE_CONTENT,
			STORE_CONTENT2,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME,
			ENROLL_DATE,
			MODIFY_DATE
		) VALUES (
			SEQ_STORE_NO.NEXTVAL,
			#{writerNo},
			#{korBname},
			#{engBname},
			#{zipCode},
			#{address1},
			#{address2},
			#{phone},
			#{bnsHour},
			#{type},
			DEFAULT,
			#{content},
			#{content2},
			#{originalFileName},
			#{renamedFileName},
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<insert id="savefile" parameterType="ContentFiles"
			useGeneratedKeys="true" keyProperty="file_no" keyColumn="S_FILE_NO">
		INSERT INTO STORE_FILE (
			S_FILE_NO,
			STORE_NO,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME
		) VALUES (
			SEQ_S_FILE_NO.NEXTVAL,
			#{shopNo},
			#{file_originalFileName},
			#{file_renamedFileName}
		)
	</insert>
	
	<update id="updateShop" parameterType="Shop">
       	UPDATE BBN_STORE
       	<trim prefix="SET" suffixOverrides=",">
    	    <if test="korBname != null">
		 		STORE_KORNAME = #{korBname},
	 		</if>
    	    <if test="engBname != null">
		 		STORE_ENGNAME = #{engBname},
	 		</if>
    	    <if test="zipCode != null">
		 		STORE_ZIPCODE = #{zipCode},
	 		</if>
    	    <if test="address1 != null">
		 		STORE_ADDRESS1 = #{address1},
	 		</if>
    	    <if test="address2 != null">
		 		STORE_ADDRESS2 = #{address2},
	 		</if>
	 		<if test="phone != null">
		 		STORE_PHONE = #{phone},
	 		</if>
	 		<if test="type != null">
		 		STORE_TYPE = #{type},
	 		</if>
	 		<if test="content != null">
		 		STORE_CONTENT = #{content},
	 		</if>
	 		<if test="content2 != null">
		 		STORE_CONTENT2 = #{content2},
	 		</if>
	 		<if test="originalFileName != null">
		 		ORIGINAL_FILENAME = #{originalFileName},
	 		</if>
	 		<if test="renamedFileName != null">
		 		RENAMED_FILENAME = #{renamedFileName},
	 		</if>
		 	MODIFY_DATE = SYSDATE 
       	</trim>
	 	WHERE 
	 		STORE_NO = #{no}
	</update>
	
	<delete id="deleteShopByNo" parameterType="_int">
		UPDATE BBN_STORE
		SET
			STORE_STATUS = 'N'
		WHERE 
			STORE_NO = #{no}
	</delete>
	
	
	<delete id="fileDeleteByStoreNo">
		DELETE FROM STORE_FILE
		WHERE STORE_NO = #{no}
	</delete>
</mapper>