.community-item {margin: 0 auto;}        
.community-item div{width: 200px;margin: 3px;}
.community-item img{width: 100%; border-radius: 10px;}
.community-item p{margin: 0;font-size: 10px;padding:0 0 10px 15px;}